@model ProjetoFinal2._0.Models.User

@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .panel .panel-heading a {
        color: white;
    }
</style>

<div class="jumbotron">
    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
    {


        <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />

        <br />
    }

    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
    {
        <h2><big> @Model.Company.Name</big></h2>
    }
    else
    {
        <h2><big> Faça Login no sistema para Iniciar!!</big></h2>
    }

    <br />


    @if (User.IsInRole("User"))
    {

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="~/Orders/Create">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="huge">Vendas</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="~/WareHouses/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Vendas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>





            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="~/Purchases/Create">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-credit-card-alt fa-5x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="huge">Compra</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="~/Purchases/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Compra</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="~/Customers/Index">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="huge">Clientes</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="~/Customers/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Clientes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>




            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="~/Products/Index">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-product-hunt fa-5x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="huge">Produtos</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="~/Products/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Produtos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="~/Categories/Index">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-briefcase  fa-5x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="huge">Categorias</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="~/Categories/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Categorias</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="~/WareHouses/Index">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-university fa-5x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="huge">Armazéns</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="~/WareHouses/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Armazéns</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>





            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="~/Providers/Index">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-user-md  fa-5x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="huge">Fornecedores</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="~/Providers/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Fornecedores</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="~/Taxes/Index">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="huge">Impostos</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="~/Taxes/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Impostos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>




        </div>


















    }




