@model ProjetoFinal2._0.Models.User

@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .panel .panel-heading a {
        color: white;
    }
</style>

<div class="jumbotron" id="containerIndex">
    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
    {


        <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />

        <br />
    }

    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
    {
        <h2><big> @Model.Company.Name</big></h2>
    }
    else
    {
        <center><h2><big><b>Bem vindo ao <font color="black">Smart-Edit.</font></b></big></h2></center>
    }
<center>
    <img src="~/imagens/logo1.png" /><br />
    <big><i>A edição inteligente que leva seu E-Commerce para o próximo nível.</i></big>
</center>



</div>

                  
        
<br />


@if (User.IsInRole("User"))
{

   <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="~/Orders/Create">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="huge">Vendas</div>
                                <img src="~/imagens/vendas.png" width="50%" height="50%" />
                            </div>
                        </div>
                    </a>
                </div>
                <a href="~/Orders/Create">


                    <div class="panel-footer">
                        <span class="pull-left">Administre suas Vendas</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>





        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="~/Purchases/Create">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-credit-card-alt fa-5x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="huge">Compras</div>
                                <img src="~/imagens/compras.png" width="50%" height="50%" />
                            </div>
                        </div>
                    </a>
                </div>
                <a href="~/Purchases/Index">
                    <div class="panel-footer">
                        <span class="pull-left">Administre suas Compras</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>



        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="~/Customers/Index">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="huge">Clientes</div>
                                <img src="~/imagens/clientes.png" width="50%" height="50%" />
                            </div>
                        </div>
                    </a>
                </div>
                <a href="~/Customers/Index">
                    <div class="panel-footer">
                        <span class="pull-left">Administre seus Clientes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>




        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="~/Products/Index">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-product-hunt fa-5x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="huge">Produtos</div>
                                <img src="~/imagens/produtos.png" width="50%" height="50%" />
                            </div>
                        </div>
                    </a>
                </div>
                <a href="~/Products/Index">
                    <div class="panel-footer">
                        <span class="pull-left">Administre seus Produtos</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>



        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="~/Categories/Index">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-briefcase  fa-5x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="huge">Categorias</div>
                                <img src="~/imagens/categorias.png" width="50%" height="50%" />
                            </div>
                        </div>
                    </a>
                </div>
                <a href="~/Categories/Index">
                    <div class="panel-footer">
                        <span class="pull-left">Administre suas Categorias</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>



        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="~/WareHouses/Index">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-university fa-5x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="huge">Armazéns</div>
                                <img src="~/imagens/armazen.png" width="50%" height="50%" />
                            </div>
                        </div>
                    </a>
                </div>
                <a href="~/WareHouses/Index">
                    <div class="panel-footer">
                        <span class="pull-left">Administre seus Armazéns</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>





        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="~/Providers/Index">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-user-md  fa-5x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="huge">Fornecedores</div>
                                <img src="~/imagens/fornecedor.png" width="50%" height="50%" />
                            </div>
                        </div>
                    </a>
                </div>
                <a href="~/Providers/Index">
                    <div class="panel-footer">
                        <span class="pull-left">Administre seus Fornecedores</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>



        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="~/Taxes/Index">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="huge">Impostos</div>
                                <img src="~/imagens/imposto.png" width="50%" height="50%" />
                            </div>
                        </div>
                    </a>
                </div>
                <a href="~/Taxes/Index">



                    <div class="panel-footer">
                        <span class="pull-left">Administre os Impostos</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        </div>



















}




